
.whiteRook{
    position: absolute;
    z-index: 1000;
    max-width: 80px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.whiteRook img{
    width: 100%;
    max-height: 70px;
    object-fit: contain;
}